Dashboard3 File

<table border="2">
    <tr>
        <td>Eng_URL</td>
        <td>Eng_Status</td>
        <td>Eng_Content</td>
        <td>Hindi_URL</td>
        <td>Hindi_Status</td>
        <td>Hindi_Content</td>
        <td>Marathi_URL</td>
        <td>Marathi_Status</td>
        <td>Marathi_Content</td>
        <td>Bengali_URL</td>
        <td>Bengali_Status</td>
        <td>Bengali_Content</td>
        <td>Kannada_URL</td>
        <td>Kannada_Status</td>
        <td>Kannada_Content</td>
        <td>Malayalam_URL</td>
        <td>Malayalam_Status</td>
        <td>Malayalam_Content</td>
        <td>Manipuri_URL</td>
        <td>Manipuri_Status</td>
        <td>Manipuri_Content</td>
    </tr>
    {% for value in Domain_obj %}
    <tr>
        <td>{{value.Eng_URL}}</td>
        <td>{{value.Eng_Status}}</td>
        <td>{{value.Eng_Content}}</td>
        <td>{{value.Hindi_URL}}</td>
        <td>{{value.Hindi_Status}}</td>
        <td>{{value.Hindi_Content}}</td>
        <td>{{value.Marathi_URL}}</td>
        <td>{{value.Marathi_Status}}</td>
        <td>{{value.Marathi_Content}}</td>
        <td>{{value.Bengali_URL}}</td>
        <td>{{value.Bengali_Status}}</td>
        <td>{{value.Bengali_Content}}</td>
        <td>{{value.Kannada_URL}}</td>
        <td>{{value.Kannada_Status}}</td>
        <td>{{value.Kannada_Content}}</td>
        <td>{{value.Malayalam_URL}}</td>
        <td>{{value.Malayalam_Status}}</td>
        <td>{{value.Malayalam_Content}}</td>
        <td>{{value.Manipuri_URL}}</td>
        <td>{{value.Manipuri_Status}}</td>
        <td>{{value.Manipuri_Content}}</td>
    </tr>
    {% endfor %}
</table>